<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - ANANAS</title>
    <link rel="shortcut icon" href="../images/Logo_Ananas_Header.svg" type="image/x-icon">
    <!-- THEME -->
    <script src="../libs/jquery/jquery-3.5.1.slim.js"></script>
    <link rel="stylesheet" href="../libs/bootstrap-4.5.0-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../libs/Glider.js-master/glider.css">
    <link rel="stylesheet" href="../libs/fontawesome-free-5.13.0-web/css/all.css">
    <link rel="stylesheet" href="../themes/css/main.css">
    <link rel="stylesheet" href="../themes/css/style_section.css">
</head>
<body>
    <!-- header -->
    <header>
      <div class="container-fluid">
        <div id="top-head">
          <div class="container">
            <div class="d-flex">
              <div class="col-md-4 col-sm-0"></div>
              <div class="col-md-8 col-sm-12">
                <ul class="d-flex">
                  <li>
                    <img src="../images/icon_dang_nhap.png" alt="" />
                    <a href="#" data-toggle="modal" data-target="#funct_login">
                      <span id="get_name_user">Đăng nhập</span>
                    </a>
                  </li>
                  <li>
                    <img src="../images/icon_tra_cuu_don_hang.png" alt="" />
                    <a href="#" data-toggle="modal" data-target="#funct_login">Tra cứu đơn hàng</a>
                  </li>
                  <li>
                    <img src="../images/icon_tim_cua_hang.png" alt="" />
                    <a href="tim-cua-hang.html">Tìm cửa hàng</a>
                  </li>
                  <li>
                    <img src="../images/icon_heart_header.png" alt="" />
                    <a href="yeu-thich.html">Yêu thích</a>
                  </li>
                  <li>
                    <img src="../images/icon_gio_hang.png" alt="" />
                    <a href="gio-hang.html">Giỏ hàng (<span>1</span>)</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="sidebar" class="bg-light">
          <div class="container">
            <div class="d-flex">
              <div class="col-md-2 d-flex justify-content-center">
                <a href="index.html">
                  <img src="../images/Logo_Ananas_Header.png" alt="" />
                </a>
              </div>
              <div class="col-md-7">
                <ul class="menu d-flex">
                  <li class="menu-item">
                    <a href="san-pham.html" class="d-flex">
                      <h4>SẢN PHẨM</h4>
                      <i class="fas fa-chevron-down"></i>
                    </a>
                    <div class="menu-sub menu-sub--product">
                      <div class="container">
                        <ul class="d-flex">
                          <li>
                            <a href="san-pham.html">
                              <div class="card">
                                <img
                                  src="../images/Menu_Nam.jpg"
                                  alt=""
                                  class="card__image"
                                />
                                <div class="card__content">CHO NAM</div>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="san-pham.html">
                              <div class="card">
                                <img
                                  src="../images/Menu_Nu.jpg"
                                  alt=""
                                  class="card__image"
                                />
                                <div class="card__content">CHO NỮ</div>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="san-pham.html">
                              <div class="card">
                                <img
                                  src="../images/Menu_Sale-off.jpg"
                                  alt=""
                                  class="card__image"
                                />
                                <div class="card__content">OUTLET SALE</div>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="san-pham.html">
                              <div class="card">
                                <img
                                  src="../images/Menu_Phu-kien.jpg"
                                  alt=""
                                  class="card__image"
                                />
                                <div class="card__content">
                                  THỜI TRANG & PHỤ KIỆN
                                </div>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li class="menu-item">
                    <a href="san-pham.html" class="d-flex">
                      <h4>NAM</h4>
                      <i class="fas fa-chevron-down"></i>
                    </a>
                    <div class="menu-sub menu-sub--male">
                      <div class="container container--w">
                        <div class="d-flex my-3">
                          <div class="col-md-4 col-sm-12">
                            <div class="box box--devide">
                              <h3>
                                <a href="#">NỔI BẬT</a>
                              </h3>
                              <div class="box__group">
                                <ul>
                                  <li><a href="">Best Seller</a></li>
                                  <li><a href="">New Arrival</a></li>
                                  <li><a href="">Sale off</a></li>
                                </ul>
                                <div>
                                  <div href="#" class="line_head">Tất cả giày</div>
                                  <a href="">Pineapple x Lucky Luke</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-8 col-sm-12 ml-5">
                            <div class="d-flex">
                              <div class="col-md-6">
                                <div class="box">
                                 <h3>
                                   <a href="#">GIÀY</a>
                                 </h3>
                                  <div class="box__group">
                                    <ul>
                                      <li class="line_head">Dòng sản phẩm</li>
                                      <li><a href="">Basas</a></li>
                                      <li><a href="">Vintas</a></li>
                                      <li><a href="">Urbas</a></li>
                                      <li><a href="">Pattas</a></li>
                                      <li><a href="">Track 6</a></li>
                                    </ul>
                                    <ul>
                                      <li class="line_head">Style</li>
                                      <li><a href="">High Top</a></li>
                                      <li><a href="">Low Top</a></li>
                                      <li><a href="">Slip-on</a></li>
                                    </ul>
                                    <a href="#" class="line_head">Tất cả giày</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="box">
                                  <h3>
                                    <a href="#">THỜI TRANG & PHỤ KIỆN</a>
                                  </h3>
                                   <div class="box__group">
                                     <ul>
                                       <li class="line_head">Nửa trên</li>
                                       <li><a href="">Basic Tee</a></li>
                                       <li><a href="">Sweetshirt</a></li>
                                       <li><a href="">Hoodie</a></li>
                                     </ul>
                                     <ul>
                                       <li class="line_head">Phụ kiện</li>
                                       <li><a href="">Nón</a></li>
                                       <li><a href="">Dây giày</a></li>
                                       <li><a href="">Vớ</a></li>
                                     </ul>
                                     <a href="#" class="line_head">Tất cả giày</a>
                                   </div>
                                 </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <a href="#" class="cameo">--------------------mọi người thường gọi chúng tôi là <span class="color--orange">dứa</span>!--------------------</a>
                      </div>
                    </div>
                  </li>
                  <li class="menu-item">
                    <a href="san-pham.html" class="d-flex">
                      <h4>NỮ</h4>
                      <i class="fas fa-chevron-down"></i>
                    </a>
                    <div class="menu-sub menu-sub--female">
                      <div class="container container--w">
                        <div class="d-flex my-3">
                          <div class="col-md-4 col-sm-12">
                            <div class="box box--devide">
                              <h3>
                                <a href="#">NỔI BẬT</a>
                              </h3>
                              <div class="box__group">
                                <ul>
                                  <li><a href="">Best Seller</a></li>
                                  <li><a href="">New Arrival</a></li>
                                  <li><a href="">Sale off</a></li>
                                </ul>
                                <div>
                                  <div href="#" class="line_head">Tất cả giày</div>
                                  <a href="">Pineapple x Lucky Luke</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-8 col-sm-12 ml-5">
                            <div class="d-flex">
                              <div class="col-md-6">
                                <div class="box">
                                 <h3>
                                   <a href="#">GIÀY</a>
                                 </h3>
                                  <div class="box__group">
                                    <ul>
                                      <li class="line_head">Dòng sản phẩm</li>
                                      <li><a href="">Basas</a></li>
                                      <li><a href="">Vintas</a></li>
                                      <li><a href="">Urbas</a></li>
                                      <li><a href="">Pattas</a></li>
                                      <li><a href="">Track 6</a></li>
                                    </ul>
                                    <ul>
                                      <li class="line_head">Style</li>
                                      <li><a href="">High Top</a></li>
                                      <li><a href="">Low Top</a></li>
                                      <li><a href="">Slip-on</a></li>
                                    </ul>
                                    <a href="#" class="line_head">Tất cả giày</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="box">
                                  <h3>
                                    <a href="#">THỜI TRANG & PHỤ KIỆN</a>
                                  </h3>
                                   <div class="box__group">
                                     <ul>
                                       <li class="line_head">Nửa trên</li>
                                       <li><a href="">Basic Tee</a></li>
                                       <li><a href="">Sweetshirt</a></li>
                                       <li><a href="">Hoodie</a></li>
                                     </ul>
                                     <ul>
                                       <li class="line_head">Phụ kiện</li>
                                       <li><a href="">Nón</a></li>
                                       <li><a href="">Dây giày</a></li>
                                       <li><a href="">Vớ</a></li>
                                     </ul>
                                     <a href="#" class="line_head">Tất cả giày</a>
                                   </div>
                                 </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <a href="#" class="cameo">--------------------mọi người thường gọi chúng tôi là <span class="color--orange">dứa</span>!--------------------</a>
                      </div>
                    </div>
                  </li>
                  <li class="menu-item">
                    <a href="sale-off.html" class="d-flex">
                      <h4>SALE OFF</h4>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="discover-you.html" class="d-flex">
                      <img src="../images/DiscoverYOU.png" alt="" />
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
                <form id="searchBox">
                  <div class="form-group d-flex">
                    <input
                      type="text"
                      name="searchInput"
                      id="searchInput"
                      class="form-control"
                      placeholder="Bạn cần tìm..."
                      aria-describedby="helpId"
                    />
                    <a href="tim-kiem.html" class="btn" id="searchBtn">
                      <i class="fas fa-search"></i>
                    </a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main id="home_page">
      <section id="section_banner">
        <div id="ruleCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <a class="carousel-item active">
                    free shipping hoá đơn từ 800k!
                </a>
                <a class="carousel-item">
                    hàng 2 tuần nhận đổi - giày nữa năm bảo hành
                </a>
                <a class="carousel-item">
                    buy more pay less - áp dụng khi mua phụ kiện
                </a>
            </div>
            <a class="carousel-control-prev" href="#ruleCarousel" role="button" data-slide="prev">
                <!-- carousel-control-prev-icon -->
                <span class="fas fa-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#ruleCarousel" role="button" data-slide="next">
                <span class="fas fa-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
    <section id="poster_main">
        <div class="container">
            <div class="glider-contain">
                <div class="glider--poster">
                    <a href="#">
                        <img src="../images/AnanasxLuckyLuke-Pack_poster.png" alt="">
                    </a>
                    <a href="#">
                        <img src="../images/poster_2.png" alt="">
                    </a>
                    <a href="#">
                        <img src="../images/poster_3.png" alt="">
                    </a>
                </div>
                <div role="tablist" class="rect rect--poster"></div>
              </div>
        </div>
        <script>
            $("#poster_main").ready(function(){
                window.addEventListener('load', function(){
                new Glider(document.querySelector('.glider--poster'), {
                slidesToShow: 1,
                dots: '.rect--poster',
                draggable: true
            });
            })  
            })            
        </script>
    </section>
    <section id="section_about_us">
        <div class="container-fluid">
            <div class="d-flex">
                <div class="col-md-6">
                    <div class="glider-contain">
                        <div class="glider--about_us inner">
                          <div class="content">
                            <div class="card">
                                <img src="../images/banner_aboutUs_2m.png" class="card-img-top" alt="banner_1">
                                <div class="card-body">
                                    <h2><a href="#">ALL BLACK IN BLACK</a></h2>
                                  <p class="card-text">Mặc dù được ứng dụng rất nhiều, nhưng sắc đen lúc nào cũng toát lên một vẻ huyền bí không nhàm chán.</p>
                                </div>
                              </div>
                          </div>
                          <div class="content">
                            <div class="card">
                                <img src="../images/banner_aboutUs_2m_2.png" class="card-img-top" alt="banner_2">
                                <div class="card-body">
                                    <h2><a href="#">ANANAS CREAS FLIP-FLAP</a></h2>
                                  <p class="card-text">Khi sự tích cực, trung thực và ngẫu hứng trở thành tiêu chí sống; niềm vui sẽ xuất hiện ở mọi nơi.</p>
                                </div>
                              </div>
                          </div>
                          <div class="content">
                            <div class="card">
                                <img src="../images/banner_aboutUs_2m_3.png" class="card-img-top" alt="banner_3">
                                <div class="card-body">
                                    <h2><a href="#">BÌNH MỚI RƯỢU "MỚI"</a></h2>
                                  <p class="card-text">Vẫn kế thừa vẻ tối giản, nguyên bản đã được định hướng bởi cái tên, Basas mới trở lại với những cải tiến đáng giá chắc chắn sẽ đem đến một trải nghiệm thú vị như hành trình chúng tôi làm ra nó.</p>
                                </div>
                              </div>
                          </div>
                        </div>
                        <div role="tablist" class="rect rect--about_us"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content">
                        <div class="card" style="width: 100%;">
                            <img src="../images/banner_sale_off.png" class="card-img-top" alt="banner_1">
                            <div class="card-body">
                                <h2><a href="#">OUTLET SALE</a></h2>
                              <p class="card-text">Danh mục những sản phẩm bán tại Outlet Store, đã được phát hành trước một thời gian và đang rơi vào tình trạng bể size, hết mã.</p>
                            </div>
                          </div>
                      </div>
                </div>
            </div>
        </div>
        <script>
            $("#section_aboutUs").ready(function(){
                window.addEventListener('load', function(){
                new Glider(document.querySelector('.glider--about_us'), {
                slidesToShow: 1,
                dots: '.rect--about_us',
                draggable: true
            });
            })  
            })
        </script>
    </section>
    <section id="section_menu_product">
        <div class="container-fluid">
            <h2>DANH SÁCH MUA HÀNG</h2>
            <div class="d-flex">
                <div class="col-md-4">
                    <div class="img_bg inner">
                        <img src="../images/catalogy-1.jpg" alt="">
                    </div>
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                          <h3 class="card-title">
                              <a href="#">giày nam</a>
                          </h3>
                          <ul class="menu">
                            <li class="menu-item d-block">
                                <a href="#">New Arrivals</a>
                            </li>
                            <li class="menu-item d-block"><a href="#">Best Seller</a></li>
                            <li class="menu-item d-block"><a href="#">Sale-off</a></li>
                        </ul>
                        </div>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="img_bg inner">
                        <img src="../images/catalogy-2.jpg" alt="">
                    </div>
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                          <h3 class="card-title">
                              <a href="#">giày nữ</a>
                          </h3>
                          <ul class="menu">
                            <li class="menu-item d-block">
                                <a href="#">New Arrivals</a>
                            </li>
                            <li class="menu-item d-block"><a href="#">Best Seller</a></li>
                            <li class="menu-item d-block"><a href="#">Sale-off</a></li>
                        </ul>
                        </div>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="img_bg inner">
                        <img src="../images/catalogy-3.jpg" alt="">
                    </div>
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                          <h3 class="card-title">
                              <a href="#">dòng sản phẩm</a>
                          </h3>
                          <ul class="menu">
                            <li class="menu-item d-block">
                                <a href="#">New Arrivals</a>
                            </li>
                            <li class="menu-item d-block"><a href="#">Best Seller</a></li>
                            <li class="menu-item d-block"><a href="#">Sale-off</a></li>
                        </ul>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section_best_seller">
        <div class="container-fluid">
            <h2>BEST SELLER</h2>
            <div class="glider-contain">
                <div class="glider--best_seller">
                  <div class="content">
                    <div class="card card_product">
                        <a href="chi-tiet-san-pham.html">
                            <img src="../images/products/pro_basas_A61078_1.jpg" class="card-img-top" alt="">
                        </a>
                        <div class="card-body">
                            <h5>
                                <a href="#">Basas Mono - High Top 
                                </a>
                            </h5>
                            <p>All White</p>
                            <p class="bold"><span>520</span>.000VND</p>
                        </div>
                    </div>
                  </div>
                  <div class="content">
                    <div class="card card_product">
                        <a href="chi-tiet-san-pham.html">
                            <img src="../images/products/pro_basas_A61080_1.jpg" class="card-img-top" alt="banner_1">
                        </a>
                        <div class="card-body">
                            <h5>
                                <a href="#">Basas New Simple Life - High Top
                                </a>
                            </h5>
                            <p>Taupe</p>
                            <p class="bold"><span>520</span>.000VND</p>
                        </div>
                      </div>
                  </div>
                  <div class="content">
                    <div class="card card_product">
                        <a href="chi-tiet-san-pham.html">
                            <img src="../images/products/pro_A61101_1_1.jpg" class="card-img-top" alt="banner_1">
                        </a>
                        <div class="card-body">
                            <h5>
                                <a href="#">Vintas Mister - High Top
                                </a>
                            </h5>
                            <p>Chocolate Brown</p>
                            <p class="bold"><span>610</span>.000VND</p>
                        </div>
                      </div>
                  </div>
                  <div class="content">
                    <div class="card card_product">
                        <a href="chi-tiet-san-pham.html">
                            <img src="../images/products/pro_vintas_A61044_1.jpg" class="card-img-top" alt="banner_1">
                        </a>
                        <div class="card-body">
                            <h5>
                                <a href="#">Vintas Yesterday - High Top
                                </a>
                            </h5>
                            <p>Moonstruck Pirate</p>
                            <p class="bold"><span>550</span>.000VND</p>
                        </div>
                      </div>
                  </div>
                  <div class="content">
                    <div class="card card_product">
                        <a href="chi-tiet-san-pham.html">
                            <img src="../images/products/pro_A61103_1.jpg" class="card-img-top" alt="banner_1">
                        </a>
                        <div class="card-body">
                            <h5>
                                <a href="#">Urbas Unsettling - Low Top
                                </a>
                            </h5>
                            <p>Insignia/Sulphur</p>
                            <p class="bold"><span>490</span>.000VND</p>
                        </div>
                      </div>
                  </div>
                  <div class="content">
                    <div class="card card_product">
                        <a href="chi-tiet-san-pham.html">
                            <img src="../images/products/pro_A61091_1_1.jpg" class="card-img-top" alt="banner_1">
                        </a>
                        <div class="card-body">
                            <h5>
                                <a href="#">Urbas Corluray - Low Top
                                </a>
                            </h5>
                            <p>Mudbrick</p>
                            <p class="bold"><span>590</span>.000VND</p>
                        </div>
                      </div>
                  </div>
                </div>
                <button aria-label="Previous" class="glider-prev">
                    <i class="fas fa-chevron-left"></i>
                </button>
                <button aria-label="Next" class="glider-next">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
        </div>
        <script>
            $("#section_best_seller").ready(function(){
                window.addEventListener('load', function(){
                    new Glider(document.querySelector('.glider--best_seller'), {
                    slidesToShow: 4,
                    slidesToScroll: 4,
                    draggable: true,
                    arrows: {
                        prev: '.glider-prev',
                        next: '.glider-next'
                    }
            });
            })  
            })
        </script>
    </section>
    <section id="poster_sup">
        <div class="container">
            <img src="../images/Banner_Clothing.png" alt="">
        </div>
    </section>
    <section id="section_news">
        <div class="container-fluid">
            <h2>TIN TỨC & BÀI VIẾT</h2>
            <div class="contents news_grid">
              <div class="card">
                <a href="discover-you.html">
                    <img src="../images/peeping_pattas01.png" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                  <h3 class="card-title">
                      <a href="#">SNEAKER FEST VIETNAM VÀ SỰ KẾT HỢP</a>
                  </h3>
                  <a href="#" class="card-text">
                    Việc sử dụng dáng giày Vulcanized High Top của Ananas trong thiết kế và cảm hứng bắt nguồn từ linh vật Peeping - đại diện cho tinh thần xuyên suốt 6 năm qua Sneaker Fest Vietnam, chúng tôi tự tin đây sẽ là sản phẩm đáng mong chờ cho mọi “đầu giày” vào mùa hè năm nay...
                      <i>Đọc thêm</i>
                  </a>
                </div>
            </div>
            <div class="card">
                <a href="discover-you.html">
                    <img src="../images/news_2.jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                  <h3 class="card-title">
                      <a href="discover-you.html">URBAS CORLURAY PACK</a>
                  </h3>
                  <a href="discover-you.html" class="card-text">
                    Urbas Corluray Pack đem đến lựa chọn “làm mới mình” với sự kết hợp 5 gam màu mang sắc thu; phù hợp với những người trẻ năng động, mong muốn thể hiện cá tính riêng biệt khó trùng lặp.
                      <i>Đọc thêm</i>
                  </a>
                </div>
            </div>
            <div class="card">
                <a href="discover-you.html">
                    <img src="../images/Mobile_Blog-1980s_0.png" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                  <h3 class="card-title">
                      <a href="#">VINTAS SAIGON 1980s</a>
                  </h3>
                  <a href="#" class="card-text">
                    Với bộ 5 sản phẩm, Vintas Saigon 1980s Pack đem đến một sự lựa chọn “cũ kỹ thú vị” cho những người trẻ sống giữa thời hiện đại nhưng lại yêu nét bình dị của Sài Gòn ngày xưa ...
                      <i>Đọc thêm</i>
                  </a>
                </div>
            </div>
            </div>
        </div>
    </section>
    </main>
    
    <!-- on_top_btn -->
    <a href="#sidebar" type="button" id="to_top_btn" class="btn" data-toggle="tooltip" data-placement="top" title="Back to Top">
      <i class="fas fa-chevron-up"></i>
    </a>
    <!-- modal login -->
    <div class="modal fade" id="funct_login" tabindex="-1" role="dialog" aria-labelledby="funct_login" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="d-flex w-100">
              <div class="col-md-12">
              <img src="../images/Logo_Ananas_Header.png" alt="logo" id="funct_login--logo">
              <h3 class="modal-title" id="funct_login--title">
                  CHÀO MỪNG ĐẾN VỚI ANANAS
              </h3>
              </div>
              <div class="inner" id="btn_close">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <form id="frm_login">
              <div class="form-group">
                <input type="email" name="ip_email" id="ip_email" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="password" name="ip_pass" id="ip_pass" placeholder="Mật khẩu">
              </div>
              <a href="#" id="forget_pass">Quên mật khẩu?</a>
              <div class="form-group">
                <button><a href="#">Đăng nhập</a></button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <p>Chưa có tài khoản tại Ananas? <a href="dang-ky.html">Đăng ký</a></p>
          </div>
        </div>
      </div>
    </div>
  <!-- footer -->
  <footer>
  <div class="container">
      <div class="d-flex">
          <div class="col-md-3">
              <div class="store d-flex">
                  <img src="../images/Store.png" alt="">
                  <a href="tim-cua-hang.html" class="storeBtn btn">TÌM CỬA HÀNG</a>
              </div>
          </div>
          <div class="col-md-9">
              <div class="content-foot">
                  <div class="row">
                      <div class="col-md-3">
                          <ul class="menu-bot">
                              <li class="head">
                                 SẢN PHẨM
                              </li>
                              <li><a href="san-pham.html">Giày Nam</a></li>
                              <li><a href="san-pham.html">Giày Nữ</a></li>
                              <li><a href="san-pham.html">Thời trang & Phụ kiện</a></li>
                              <li><a href="san-pham.html">Sale off</a></li>
                          </ul>
                      </div>
                      <div class="col-md-3">
                          <ul class="menu-bot">
                              <li class="head">
                                  VỀ CÔNG TY
                              </li>
                              <li><a href="tuyen-dung.html">Dứa tuyển dụng</a></li>
                              <li><a href="lien-he.html">Liên hệ</a></li>
                              <li><a href="#">Về Ananas</a></li>
                              
                          </ul>
                      </div>
                      <div class="col-md-3">
                          <div class="menu-bot">
                              <div class="head">
                                  ANANAS SOCIAL
                              </div>
                              <div class="d-flex ">
                                  <a href="#" class="socialIcon">
                                      <img src="../images/icon_social1.png" alt="">
                                  </a>
                                  <a href="#" class="socialIcon">
                                      <img src="../images/icon_social2.png" alt="">
                                  </a>
                                  <a href="#" class="socialIcon">
                                      <img src="../images/icon_social3.png" alt="">
                                  </a>
                                  
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <ul class="menu-bot">
                              <li class="head">
                                  THÀNH VIÊN
                              </li>
                              <li>Trần Thu An</li>
                              <li>Từ Phước Thiện</li>
                              <li>Nguyễn Tiến</li>
                          </ul>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <img src="../images/Logo_Ananas_Footer.png" alt="">
                      </div>
                      <div class="col-md-6">
                          <p>
                              Copy
                              <i class="fa fa-copyright" aria-hidden="true"></i>
                              2020 Ananas. All rights reserved
                          </p>
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </footer>
    <!-- JS -->
    <script src="../libs/bootstrap-4.5.0-dist/js/bootstrap.js"></script>
    <script src="../libs/Glider.js-master/glider.js"></script>
    <script src="../themes/js/main.js"></script>
</body>
</html>